#header {
    background-color: #2874F0;
    margin-bottom: 10px;
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 0%;
    /* bottom: 0px; */
    z-index: 1;
    animation: header 1s linear;
    display: flex;
}
@keyframes header {
    from {
        top: -100%;
    }
    to {
        top: 0%;
    }
}

#header .logo {
    /* display: inline-block; */
    width: 10%;
    /* vertical-align: middle; */
}
#header .logo img {
    width: 100%;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

#main-nav  {
    /* display: inline-block; */
    width: 88%;
}
#main-nav > ul {
    display: flex;
}
#main-nav > ul > li {
    /* display: inline-block; */
    background-color: black;
    margin: 0px 10px;
    width: 17%;
    text-align: center;
    position: relative;
}
#main-nav > ul > li > a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px 0px;
}
#main-nav > ul > li:hover {
    background-color: red;
}

#main-nav .dropdown {
    position: absolute;
    background-color: #eee;
    width: 100%;
    left: 0px;
    display: none;
}
#main-nav .dropdown ul li {
    padding: 15px 0px;
}
#main-nav .dropdown ul li a {
    color: #2874F0;
    text-decoration: none;
}
#main-nav ul li:hover .dropdown {
    display: block;
}

#content {
    margin-top: 8%;
}
.row {
    display: flex;
}
.col {
    /* background-color: lightgray; */
    text-align: center;
    border: 1px solid red;
    /* display: inline-block; */
    width: 30%;
    padding: 10px;
    margin: 0px 5px 30px;
    vertical-align: top;
    position: relative;
}

.col::before {
    content: "";
    background-image: url("https://cdn3.iconfinder.com/data/icons/virtual-notebook/16/button_share-512.png");
    display: block;
    width: 30px;
    height: 30px;
    background-size: 100% 100%;
    position: absolute;
    left: 10px;
    top: 10px;
}

.col img {
    transition: 1s;
    width: 50%;
}

.col .cart-img {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 10%;
}

.col .cart-img img {
    width: 100%;
}

.col:hover img:not(.cart-img img) {
    transform: scale(1.2,1.2);
}